files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_app.conf":
    content: |
      /var/log/app.log
      /var/log/gunicorn.log

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
    FLASK_APP: app.py
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:xray:
    XRayEnabled: false

packages:
  yum:
    python3-devel: []
    gcc: []
